.tile{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 20%;
  margin-right: 30px;
  margin-bottom: 30px;

}
.info__tile{
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: rgb(95, 91, 91);
  color: white;
  padding: 0 15px;
}

.content{
  display: flex;
  justify-content: center;
}
.content__tile{
  display: flex;
  flex-basis: 80%;
  justify-content: center;
  flex-wrap: wrap;
}

