<div class='wrapper'>
  <div></div>
  <div class='main__switch'>
    <div>
      <a [routerLink]="['/tile']" class='main__switch_tile' routerLinkActive="main__switch_checked">Плитка</a>
    </div>
    <div>
      <a [routerLink]="['/table']" routerLinkActive="main__switch_checked" class='main__switch_table'>Tаблица</a>
    </div>
  </div>
  <div class='add'>
    <button class='add__btn'  >
     <a [routerLink]="['/add']">Добавить</a>
    </button>
  </div>
</div>
<div class='content'>
  <router-outlet></router-outlet>
</div>